<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTR-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomePurchaseAgePrediction</title>
    <link rel="stylesheet" href="css/style2.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700;900&display=swap"
        rel="stylesheet" />
</head>

<body>
    <nav>
        <input type="hidden" id="jsonData" value="<%=JSON.stringify(data)%>" />
        <h1 onClick="location.href='/'">Home Purchase Age Prediction</h1>
    </nav>
    <main>
        <div id="info"></div>
        <div id="home_info">
            <div id="map"></div>
            <ul id="house_list">
                <div>LIST</div>
            </ul>
        </div>
    </main>
    <script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=카카오맵에서 발급받은 키를 입력해주세요&libraries=services,clusterer,drawing"></script>
    <script type="text/javascript" src="../js/next_page.js"></script>
</body>

</html>